@media (min-width:1024px) {
  body{
    display: none;
  } 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
   background:#3164D7;
}
.canva {
    color: #ffffff;
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
}
.linka,.linkb {
  margin-top: 1000%;
}

/*<button class="button-5" role="button">Button 5</button>*/

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #527ee1;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.resultado,span,input {
  display: block;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  margin-top: 5px;
  margin-bottom: 2px;
}
input {
  padding: 2px;
  border: 2px solid #a8a7a7;
  border-radius: 4px;
}
input:focus{
  outline: none;
  border: 2px solid #474747;
}

.toast-body {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}
.red-valor {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#ff1d44 ;
}
/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 30px;
}

.button-52:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
.color {
  background: #3164D7;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}
.alignh ,span{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.value0 {
  color: #ff1d44;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}